* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Modern Warfare", Arial, Helvetica, sans-serif;
  background-color: var(--bg-body);
  color: var(--type-1-light);
  height: 300rem;
}

html {
  font-size: 62.5%;
}

@media (max-width: 57em) {
  html {
    font-size: 56.25%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 71.5%;
  }
}
@media (min-width: 160em) {
  html {
    font-size: 100%;
  }
}
img {
  max-width: 100%;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
