header {
  justify-content: space-between;
  padding: 2rem 1.8rem;
}

.header_logo,
.header_nav {
  gap: 1.5rem;
  font-size: 1.4rem;
  color: var(--type-2-dark);
  transition: all 0.2s;
}
.header_logo a:hover,
.header_nav a:hover {
  color: var(--type-1-light);
}
.header_logo img {
  height: 1.5vw;
}

.btn {
  padding: 1.8rem 2.6rem;
  color: var(--bg-body);
  background-color: var(--btn-1);
  transition: all 0.2s;
  border-radius: 0.2rem;
}
.header_nav .btn:hover {
  color: initial;
  background-color: var(--btn-2);
}

.menu_container,
.menu,
.nav_menu {
  display: none;
}

@media only screen and (max-width: 75em) {
  .header_logo a,
  .header_nav a {
    display: none;
  }
  .header_logo img {
    height: 1.8rem;
  }

  .menu_container {
    display: block;
    padding: 2rem;
    cursor: pointer;
    position: relative;
  }

  .menu {
    all: unset;
    display: flex;
    position: absolute;
    background-color: var(--btn-1);
    width: 80%;
    height: 3px;
    font-size: 1.3rem;
    border: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu::before {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--btn-1);
    width: 100%;
    height: 3px;
    border: 0.5rem;
    top: -0.9rem;
    transition: all 0.3s;
  }
  .menu::after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--btn-1);
    width: 100%;
    height: 3px;
    border: 0.5rem;
    top: 0.9rem;
    transition: all 0.3s;
  }

  .nav_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .menu.active {
    background-color: transparent;
  }
  .menu.active::before {
    transform: rotate(-140deg);
    top: 0.1rem;
  }
  .menu.active::after {
    transform: rotate(140deg);
    top: 0.1rem;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 2rem;
  }

  .nav_menu.active {
    height: calc(100vh - 6rem);
    background-color: var(--bg-body);
    visibility: visible;
    overflow: visible;
  }

  @keyframes active {
    0% {
      transform: translateY(-4rem);
      opacity: 0;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .nav_menu-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
  }
  .nav_menu.active .nav_menu-links {
    animation: active 0.4s ease;
  }
  .nav_menu-links a {
    background-color: var(--type-4-dark);
    color: var(--type-2-light);
    flex: 0 0 100%;
    padding: 1.4rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    transform: all 0.2s;
  }
  .nav_menu-links a:active {
    background-color: var(--type-2-dark);
  }
  .btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn_menu {
    display: block;
    width: 60%;
    text-align: center;
    background-color: var(--btn-1);
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    transform: all 0.2s;
    color: var(--bg-body);
    font-size: 1.3rem;
    opacity: 0;
  }
  .btn_menu:active {
    background-color: var(--btn-2);
  }
  .nav_menu.active .btn_menu {
    animation: activeBtn 0.3s 0.2s forwards;
  }

  @keyframes activeBtn {
    0% {
      transform: translateY(3rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media only screen and (max-width: 48em) {
  .nav_menu-links a {
    font-size: 1.2rem;
  }

  .btn_menu {
    font-size: 1.2rem;
    width: 100%;
  }
}
