.banner {
  height: 100%;
  position: relative;
}

.banner__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 2.6rem;
  max-width: 35vw;
  top: 40%;
  right: 11.5%;
}

.banner__text h2 {
  font-size: 1.8vw;
  position: relative;
  margin-left: 1.2rem;
}

.plus__banner {
  color: var(--color--secondary-light);
  font-size: 0.9vw;
}
.plus-1.plus__banner {
  top: -10%;
  left: -2.5%;
}
.plus-2.plus__banner {
  left: -2.5%;
  bottom: -10%;
}
.plus-3.plus__banner {
  top: -10%;
  right: 1.5%;
}
.plus-4.plus__banner {
  right: 1.5%;
  bottom: -10%;
}
.banner__text p {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-size: 0.9vw;
  max-width: 50ch;
}

/* 912 */
@media only screen and (max-width: 57em) {
  .banner__text {
    gap: 2.3rem;
  }
  .plus-1.plus__banner,
  .plus-2.plus__banner {
    left: -3%;
  }

  .plus-3.plus__banner,
  .plus-4.plus__banner {
    right: 0;
  }
}

/* 750 */
@media only screen and (max-width: 46.875em) {
  .banner img {
    opacity: 0.4;
  }
  .banner__text {
    gap: 2.6rem;
    max-width: initial;
    justify-content: center;
    top: 70%;
    right: initial;
    margin: 0 3rem;
  }

  .banner__text h2 {
    font-size: 5vw;
    position: relative;
    margin-left: 0rem;
  }

  .banner__text p {
    font-size: 2.9vw;
    max-width: initial;
  }
}

@media only screen and (max-width: 17.5em) {
  .banner__text {
    margin: 0 2rem;
  }
}
