.hero__bg {
  height: 100vh;
  background: url("../../img/hero/hero-bg.jpg") no-repeat center center;
  background-size: cover;
}
.hero {
  max-width: 79vw;
  padding: 6.4rem 0;
  margin: 0 auto;
}

.hero__title {
  font-size: 1.8vw;
  margin-bottom: 3.2rem;
}

.hero__person {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5.6vw;
}
.hero__person img {
  border-radius: 2px;
  border: 2px solid transparent;
  filter: grayscale(100%);
}
.hero__person h3 {
  width: 100%;
  opacity: 0.2;
  font-size: 0.9vw;
  margin-top: 0.5rem;
}

.hero__info {
  display: flex;
  gap: 3.2rem;
  margin-top: 3.2rem;
}

.hero__info-img {
  flex: 0 0 42%;
  border: 2px solid var(--color--secondary-light);
  border-radius: 0.4rem;
  overflow: hidden;
}
.hero__info-img img {
  width: 100%;

  object-fit: cover;
}

.hero__details {
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
  height: fit-content;
}

.hero__details-rank {
  display: flex;
  gap: 2rem;
}

.hero__details-rank div {
  flex: 1;
}

.hero__details-rank h3 {
  font-size: 1.2vw;
  color: var(--color--secondary-light);
  margin-bottom: 1rem;
}

.hero__details-rank P {
  font-size: 0.8vw;
}

.hero__details h2 {
  font-size: 1.2vw;
  color: var(--color--secondary-light);
  margin-bottom: 1rem;
}
.hero__details h3 {
  margin-bottom: 1rem;
}

.hero__details:not(:first-child) h3 {
  margin-top: 1rem;
}
.hero__details span {
  font-size: 1vw;
  font-family: "TT Firs Neue Trl", sans-serif;
}

.hero__details-bio h3 {
  font-size: 1.2vw;
}
#title {
  max-width: 20ch;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 75em) {
  .hero__person h3 {
    font-size: 1.2vw;
  }
  .hero__person {
    gap: 2.6vw;
  }
}

/* 750 */
@media only screen and (max-width: 46.875em) {
  .hero__title {
    font-size: 3.6vw;
  }

  .hero {
    max-width: initial;
    margin: 0 4.2rem;
    padding: 4rem 0;
  }

  .hero__person h3 {
    display: none;
  }
  .hero__info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .hero__details-rank h3 {
    font-size: 15px;
  }

  .hero__details-rank P {
    font-size: 12px;
  }
  .hero__details h2 {
    font-size: 20px;
  }

  .hero__details span {
    font-size: 15px;
  }

  .hero__details-bio h3 {
    font-size: 15px;
  }
  #title {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  /* .features__info {
    grid-template-columns: repeat(1, 1fr);
  } */

  /* .features__info-text h2 {
    font-size: 3.5vw;
    margin-bottom: 1rem;
  }
  .features__info-text p {
    font-size: 2.5vw;
  }
    margin-bottom: 1rem; */
  /* .features__info-text span {
    font-size: 2.5vw;
  } */
}

/* 540 */
@media only screen and (max-width: 33.75em) {
  .hero {
    margin: 0 3.2rem;
  }

  /* .features__info-text h2 {
    font-size: 4vw;
  }
  .features__info-text p {
    font-size: 3vw;
  }
  .features__info-text span {
    font-size: 3vw;
  } */
}

/* 280 */
@media only screen and (max-width: 17.5em) {
  .hero {
    padding: 2.5rem 0;
    gap: 1rem;
    margin: 0 2.2rem;
  }
  /* .hero {
    gap: 1rem;
  } */
}
