:root {
  --color--primary: #110c09;
  --color--primary-light: #6c6967;
  --color--primary-border: #1b1b1b;
  --color--secondary: #7bc42d;
  --color--secondary-dark: #609725;
  --color--light: #fff;
}

/* classes */
.btn {
  padding: 1.5rem 2.6rem;
  background-color: var(--color--secondary);
  border: 0.3rem solid var(--color--secondary);
  border-radius: 2px;
  color: var(--color--primary);
  font-size: 1.3rem;
  transition: all 0.1s;
}

.btn:hover {
  background-color: transparent;
  color: var(--color--light);
  border-color: var(--color--light);
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-200px, 0, 0);
  transition: 0.8s;
}
.js-scroll.animar {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
