:root {
  --color--primary: #110c09;
  --color--primary-light: #6c6967;
  --color--primary-border: #1b1b1b;
  --color--secondary: #7bc42d;
  --color--secondary-dark: #609725;
  --color--light: #fff;
}
