.features__bg {
  background: url("../../img/features/bg-features.jpg") no-repeat center center;
  background-size: cover;
  height: auto;
  position: relative;
}

.features__bg::after,
.features__bg::before {
  content: "";
  display: inline-block;
  background: url("../../img/features/cortex-2.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 5%;
  height: 100%;
}
.features__bg::after {
  left: 0;
}

.features__bg::before {
  right: 0;
}

.features {
  max-width: 79vw;
  padding: 6.4rem 0;
  margin: 0 auto;
  display: grid;
  gap: 3.2rem;
}

.features__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.features__info img {
  width: 100%;
}

.features__info-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.5rem;
}

.features__info-text h2 {
  font-size: 1.9rem;
  color: var(--color--secondary-light);
}
.features__info-text p {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-size: 1.3rem;
}
.features__info-text span {
  font-family: "TT Firs Neue Trl", sans-serif;
  color: var(--color--secondary-light);
  font-size: 1.3rem;
}
.features__info-footer {
  grid-template-columns: 1fr 1fr;
}

/* 1800 */
@media (min-width: 112.5em) {
  .features__info-text h2 {
    font-size: 2.2rem;
  }
  .features__info-text p {
    font-size: 1.5rem;
  }
  .features__info-text span {
    font-size: 1.5rem;
  }
}

/*2560 */
@media (min-width: 160em) {
  .features__info-text h2 {
    font-size: 2.8rem;
  }
  .features__info-text p {
    font-size: 1.92rem;
  }
  .features__info-text span {
    font-size: 1.92rem;
  }
}

/*2880 */
@media (min-width: 180em) {
  .features__info-text h2 {
    font-size: 3.2rem;
  }
  .features__info-text p {
    font-size: 2.15rem;
  }
  .features__info-text span {
    font-size: 2.15rem;
  }
}

/* 912 */
@media only screen and (max-width: 57em) {
  .features__info {
    gap: 2rem;
  }
  .features__info-text {
    padding: 0;
  }
  .features__info-text h2 {
    font-size: 1.5vw;
  }
  .features__info-text p {
    font-size: 1.26vw;
  }
  .features__info-text span {
    font-size: 1.26vw;
  }
}

/* 750 */
@media only screen and (max-width: 46.875em) {
  .features__bg::after {
    display: none;
  }

  .features__bg::before {
    display: none;
  }

  .features {
    max-width: initial;
    margin: 0 4.2rem;
    padding: 4rem 0;
  }

  .features__info {
    grid-template-columns: repeat(1, 1fr);
  }

  .features__info-text h2 {
    font-size: 3.5vw;
    margin-bottom: 1rem;
  }
  .features__info-text p {
    font-size: 2.5vw;
    margin-bottom: 1rem;
  }
  .features__info-text span {
    font-size: 2.5vw;
  }
}

/* 540 */
@media only screen and (max-width: 33.75em) {
  .features {
    margin: 0 3.2rem;
  }

  .features__info-text h2 {
    font-size: 4vw;
  }
  .features__info-text p {
    font-size: 3vw;
  }
}

/* 280 */
@media only screen and (max-width: 17.5em) {
  .features {
    padding: 2.5rem 0;
    gap: 1rem;
    margin: 0 2.2rem;
  }
  .features__info {
    gap: 1rem;
  }
}
