* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Modern Warfare", Arial, Helvetica, sans-serif;
  background-color: var(--color--primary);
  color: var(--color--light);
}

.content {
  max-width: 140rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

/* 1800 */
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
/* 1200 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/* 1000 */

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
/* classes */
#btn {
  padding: 1.4rem 2.6rem;
  background-color: var(--color--secondary);
  border: 0.3rem solid var(--color--secondary);
  border-radius: 2px;
  color: var(--color--primary);
  font-size: 1.3rem;
  transition: all 0.1s;
}

#btn:hover {
  background-color: transparent;
  color: var(--color--light);
  border-color: var(--color--light);
}

@media (max-width: 57em) {
  #btn {
    padding: 1rem 2.2rem;
  }
}
.js-scroll {
  opacity: 0;
  transform: translate3d(-200px, 0, 0);
  transition: 0.8s;
}
.js-scroll.animar {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
