* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0rem;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Modern Warfare", sans-serif;
}
