* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Modern Warfare", Arial, Helvetica, sans-serif;
  background-color: var(--color--primary);
  color: var(--color--light);
}

.content {
  max-width: 140rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

/* 1800 */
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

/* 1280 */
@media (max-width: 80em) {
  html {
    font-size: 56.25%;
  }
}

/* 1024 */
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

img {
  max-width: 100%;
}
li {
  list-style: none;
}
a,
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
