.home {
  position: relative;
}

.home__content {
  display: flex;
  position: absolute;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 92vw;
  gap: 1vw;
  top: 55%;
  right: 0;
  margin: 0 9.9%;
}

.home__title {
  font-size: 4.64vw;
  max-width: 38ch;
  position: relative;
}

.plus-1,
.plus-2,
.plus-3,
.plus-4 {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
}
.plus-1 {
  top: -0.3rem;
  left: 2.5%;
}
.plus-2 {
  left: 2.5%;
  bottom: -0.8rem;
}
.plus-3 {
  top: 0.3%;
  right: 2.1%;
}
.plus-4 {
  bottom: 0;
  right: 2.1%;
}
.register {
  position: relative;
  font-size: 2.3vw;
  top: -1.5rem;
  right: -0.3rem;
}

.home__paragraph {
  font-family: "TT Firs Neue Trl", sans-serif;
  font-size: 1.4vw;
  font-weight: bold;
  max-width: 52ch;
}

.home__buttons {
  display: flex;
  gap: 1.5vw;
}

.btn__home {
  display: flex;
  align-items: center;
  font-size: 0.8vw;
  padding: 0.7vw 1vw;
  gap: 0.4rem;
}

.btn__home .play {
  font-size: 1vw;
  position: relative;
}
.arrow {
  font-size: 0.8vw;
  color: var(--color--primary-light);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}
.arrow:hover {
  color: var(--color--light);
}

/* 1800 */
@media (min-width: 112.5em) {
  .home__title {
    font-size: 4.64vw;
  }
}

/*2560 */
@media (min-width: 160em) {
  .home__title {
    font-size: 4.68vw;
  }
  .btn__home {
    font-size: 1vw;
  }
}

/* 912 */
@media only screen and (max-width: 57em) {
  .home__title {
    font-size: 4.68vw;
  }
  .home__paragraph {
    font-size: 1.5rem;
  }

  .btn__home {
    padding: 0.5vw 0.7vw;
  }
}

/* 750 */
@media only screen and (max-width: 46.875em) {
  .home__content {
    margin: 0;
    top: 69%;
    right: 4.2%;
    gap: 1.5rem;
  }

  .home__title {
    font-size: 5.7vw;
  }
  .plus-1,
  .plus-2,
  .plus-3,
  .plus-4 {
    display: none;
  }

  .register {
    top: -0.5vw;
    right: -0.5vw;
  }

  .home__paragraph {
    font-size: 2.8vw;
  }
  .register {
    font-size: 4vw;
  }
  .btn__home {
    font-size: 2.3vw;
    padding: 2vw 2.5vw;
  }
  .btn__home .play {
    font-size: 2.8vw;
  }
  .arrow {
    color: var(--color--light-2);
    font-size: 3vw;
    padding: 0.5rem;
  }
}

/* 540 */
@media only screen and (max-width: 33.75em) {
  .register {
    top: -0.5vw;
    right: -0.5vw;
  }
}

/* 360 */
@media only screen and (max-width: 23.43em) {
  .home__title {
    font-size: 2.7rem;
  }
}

/* 280 */
@media only screen and (max-width: 17.5em) {
  .home__content {
    top: 65%;
  }
  .home__title {
    font-size: 2rem;
  }

  .home__paragraph {
    font-size: 3.3vw;
  }
}
